{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>foodUp</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" href="{% sass_src "foodUp/style.scss" %}">
</head>
<body>

{% block body %}
    <div class="user-bar">
        {% comment %} <a href="{% url 'register' %}">Login</a> {% endcomment %}
        <a href="#">Login</a>
        <a href="/register/">Rejestracja</a>
    </div>
    <header>
        <h1>foodUp</h1>
        <h3>Podtytuł</h3>
    </header>
    <div class="navbar" id="navbar">
        <a href="/">Główna</a>
        <a href="#">Top</a>
        <a href="#">W pobliżu</a>
    </div>
    <div class=content-container>
    {% block content %}
    {% endblock %}
    </div>
{% endblock %}
<div class="footer">
    <h2>Footer</h2>
</div>

<!-- JavaScript -->
<script src="{% sass_src "foodUp/js/app.js" %}"></script> 
</body>

</html>