{% extends "foodUp/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.logo.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.name }}</a>
      </div>
      <p class="article-content">{{ object.description }}</p>
    </div>
  </article>
  {{ object.email}}
  {{profile.name}}
 	Rate: {{profile.rate}} </br>
	Description: {{profile.description}} </br>
	Email: {{profile.email}} </br>
	Phone: {{profile.phone_number}} </br>
	Address: {{profile.adres}} </br>
	Time opened: {{profile.time_opened}} </br>
	Time closed: {{profile.time_closed}} </br>
	What we offer: {{profile.category}} </br>
	
	{{n}}
  {% if user.is_authenticated %}
  	<form method="POST">
		{% csrf_token %}
		{{ save_form|crispy }}
		<button type="submit" >Save</button>
	</form>
 	<form method="POST">
		{% csrf_token %}
		{{ form|crispy}}
		<button type="submit">Commit</button>
	</form>
  {% else %}
    Sign up to make comment! 
	<a href="{% url 'login' %}">Log in</a>
  {% endif %}
  
	{% for c in com %}
		{{c.sender}}
		{{c.com}}
		</br>
	{% endfor %}
{% endblock %}