{% extends "foodUp/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
        <form method="POST" class="text-center border border-light">
            {% csrf_token %}<br/><br/><br/><br/>
            <div class="card" style="margin: auto">
                <div class="card-body px-lg-5">
                    <form class="text-center">
                        <div class="md-form mt-3">{{ form.search|as_crispy_field }}</div>
                        <div class="md-form mt-3">{{ form.category|as_crispy_field }}</div>
                        <div class="md-form mt-3">{{ form.rating|as_crispy_field }}</div>
                        <div class="md-form mt-3">{{ form.price|as_crispy_field }}</div>
                        <button class="btn btn-primary" type="submit"
                                style="font-size: 2rem; padding: 1rem 2rem 1rem 2rem; border-radius: 100px; border: 1px solid">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </form>
    <div>
        {% for i in profiles %}
			        <div class="row my-border my-3">
            <div class="col-sm-3">
                <img class="img-fluid img-thumbnail" src="{{ i.logo.url }}">
            </div>
            <div class="col-sm-6 mt-3">
                <h2><a class="article-title" style="font-size: 2rem" href="{% url 'profile-detail' i.user.profile.id %}">{{ i.name }}</a></h2>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                <span style="font-size: 1.4rem">Category: </span><span class="article-content" style="font-size: 1.4rem">{{ i.category }}</span><br/>
				<span style="font-size: 1.4rem">Open: </span><span class="article-content" style="font-size: 1.4rem">{{ i.time_opened }}</span><br/>
				<span style="font-size: 1.4rem">Close: </span><span class="article-content" style="font-size: 1.4rem">{{ i.time_closed }}</span><br/>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
