{% extends "foodUp/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
        <form method="POST" class="text-center border border-light">
            {% csrf_token %}<br/><br/><br/><br/>
            <div class="card" style="margin: auto">
                <div class="card-body px-lg-5">
                    <form class="text-center">
                        <div class="md-form mt-3">{{ form.search|as_crispy_field }}</div>
                        <div class="md-form mt-3">{{ form.category|as_crispy_field }}</div>
                        <div class="md-form mt-3">{{ form.rating|as_crispy_field }}</div>
                        <button class="btn btn-primary" type="submit"
                                style="font-size: 2rem; padding: 1rem 2rem 1rem 2rem; border-radius: 100px; border: 1px solid">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </form>
    <div>
        {% for i in profiles %}
            <img src="{{ i.logo.url }}">
            <h2><a class="article-title" href="{% url 'profile-detail' i.user.profile.id %}">{{ i.name }}</a></h2>
            {{ i.rate }}
            {{ i.category }}
            {{ i.time_opened }}
            {{ i.time_closed }}
            <h1></h1>
        {% endfor %}
    </div>
{% endblock %}
