$header-color: #1abc9c;
$navbar-color: #333;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.navbar {
  display: flex;
  background: $navbar-color;

  a {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
}

header {
  padding: 60px;
  text-align: center;
  background: $header-color;
  color: white;


}

.user-bar {
  display: flex;
  background: $navbar-color;
  justify-content: right;

  a {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
}
.row {
  display: flex;

  .main {
    flex: 60%;
  }

  .side {
    flex: 20%;
    background: #dddddd;
  }
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

